@font-face {
    font-family: "sur2";
    src: url("Cafe24Ssurround-v2.0.woff");
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
}

#site_title_area{
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
}

#site_title{
    width: 1200px;
    font-weight: bold;
    font-family: "sur2";
    font-size: 40px;
    text-align: center;
    color:cornflowerblue;
    text-shadow: 2px 4px yellowgreen;
}

#site_menu_area{
    border-top: cornflowerblue 8px double;
    border-bottom: cornflowerblue 8px double;
}

#site_menu{
    width: 1200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    table-layout: fixed;
}

#site_menu a{
    font-family: "sur2";
    transition: color 0.8s;
    color: rgb(46, 105, 255);
}

#site_menu a:hover{
    color: yellowgreen;
}

#site_content_area{
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    padding-top: 130px;
    padding-left: 80px;
}

::-webkit-scrollbar{
    display: none;
}

.computer_list{
    margin-top: 15px;
    border: rgb(46, 105, 255) 3px solid;
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

.computer_list .computer_img{
    border: rgb(46, 105, 255) 3px solid;
}

.computer_list .computer_img img{
    max-width: 280px;
    max-height: 180px;
}

.computer_list .name, .computer_list .price{
    font-family: "sur2";
    text-align: right;
    padding-right: 10px;
}