@font-face {
    font-family: "sur2";
    src: url("Cafe24Ssurround-v2.0.woff");
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
}

#site_title_area{
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
}

#site_title{
    width: 1200px;
    font-weight: bold;
    font-family: "sur2";
    font-size: 40px;
    text-align: center;
    color:cornflowerblue;
    text-shadow: 2px 4px yellowgreen;
}

#site_menu_area{
    border-top: cornflowerblue 8px double;
    border-bottom: cornflowerblue 8px double;
}

#site_menu{
    width: 1200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    table-layout: fixed;
}

#site_menu a{
    font-family: "sur2";
    transition: color 0.8s;
    color: rgb(46, 105, 255);
}

#site_menu a:hover{
    color: yellowgreen;
}

#site_content_area{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 130px;
}

::-webkit-scrollbar{
    display: none;
}

.phone_list{
    margin-top: 15px;
    border: rgb(46, 105, 255) 3px solid;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(46, 105, 255) inset;
    border-spacing: 0px;
}

.phone_list .img_td{
    width: 400px;
    border-right: rgb(46, 105, 255) 3px solid;
}

.phone_list .img_td img{
    max-width: 380px;
    width: 80%;
}

.phone_list #phone_name{
    height: 50px;
    padding-left: 10px;
    border-bottom: rgb(46, 105, 255) 3px solid;
}

.phone_list #brand{
    border-bottom: rgb(46, 105, 255) 3px solid;
}

.phone_list #price{
    border-bottom: rgb(46, 105, 255) 3px solid;
}

.phone_list #brand, .phone_list #price{
    height: 50px;
}

.phone_list #brand, .phone_list #price, .phone_list #info{
    padding-left: 15px;
}

.phone_list td{
    font-family: "sur2";
}